* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111111;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: all 1s ease-in;
}

.square:hover {
  transition-duration: 0s;
}
